In [1]:
API_KEY = 'FuGSHa-GIePXqLpg_xrJwhz_DPy7g9sCRm_HAmvUix8ohqLeof8Dy4l4tD3m_pqzsh8tPhjMogzvAwchwxt2Qwr88jh0PRf7O4kwQqzHO8HcNEQyotUad2bM5ONhZHYx'

In [2]:
import pandas as pd
import requests

In [3]:
# Yelp's GraphQL endpoint
url = "https://api.yelp.com/v3/graphql"
# Request headers
headers = {
    "Authorization": f"Bearer {API_KEY}",
    "Content-Type": "application/graphql",
}

In [4]:
query = f'{{\n\
        search(\
            categories: "restaurants", \
            location: "US", \
            offset: 50, \
            limit:  50\
        ) {{\n\
            business {{\n\
                id\n\
                name\n\
                review_count\n\
                rating\n\
                reviews {{\n\
                    text\n\
                    rating\n\
                }}\n\
            }}\n\
        }}\n\
    }}'

In [5]:
response = requests.post(url, headers=headers, data=query)
data = response.json()

In [7]:
business_data = pd.DataFrame(data["data"]["search"]['business'])

In [8]:
business_data.head()

,id,name,review_count,rating,reviews
0,PsY5DMHxa5iNX_nX0T-qPA,Kokkari Estiatorio,5083,4.5,[{'text': 'If you want to feel like you've ins...
1,5PGFsnFhDlpYVDI3TRNH6w,Dancing Yak,740,4.5,[{'text': 'Wow that was HOT! Food was deliciou...
2,XR4giIOCQ5D-mxtOPUUY_Q,Palette Tea House,1466,4.0,[{'text': 'Good quality of Chinese food and th...
3,_D1Ev_zTZs5ijHkleK6C2w,Hillstone,2454,4.0,[{'text': 'Classic waterfront dining doesn't g...
4,kWrVV4mS-SLy-Ph_DeJSAg,Crab House at Pier 39,2915,4.0,[{'text': 'I had an amazing time with my famil...

In [9]:
business_data.describe()

       review_count     rating
count     50.000000  50.000000
mean    1706.880000   4.220000
std     1382.522135   0.250713
min      186.000000   4.000000
25%      719.750000   4.000000
50%     1491.500000   4.000000
75%     2232.000000   4.500000
max     7452.000000   4.500000

In [10]:
business_data["reviews"]

0     [{'text': 'If you want to feel like you've ins...
1     [{'text': 'Wow that was HOT! Food was deliciou...
2     [{'text': 'Good quality of Chinese food and th...
3     [{'text': 'Classic waterfront dining doesn't g...
4     [{'text': 'I had an amazing time with my famil...
5     [{'text': 'A friend recommended that I hold a ...
6     [{'text': 'Trestle is a cozy little bistro ser...
7     [{'text': 'I came here twice recently with a p...
8     [{'text': 'What a great experience it is to di...
9     [{'text': 'Nice dining environment and great s...
10    [{'text': 'Decided to give this place a try af...
11    [{'text': 'Really good ramen. There's a little...
12    [{'text': 'Food, service and ambiance were all...
13    [{'text': '* A magical, artistic presentation ...
14    [{'text': 'Aesthetic: I loved the skylight ins...
15    [{'text': 'Tacorea never disappoints. Kimchi b...
16    [{'text': 'Definitely a more high end place wi...
17    [{'text': 'visited Limon recently for the firs...
18    [{'text': 'I booked a table for two yesterday ...
19    [{'text': 'Chef Val and Carolyn Cantu have wor...
20    [{'text': 'Great staff members and food is ama...
21    [{'text': 'Did you know this place had been in...
22    [{'text': 'You walk in through the door, and y...
23    [{'text': 'This is my first time visiting Dump...
24    [{'text': 'First time here. Was walking to fin...
25    [{'text': 'I am a long repeat customer (~2 yea...
26    [{'text': 'A hidden gem in the city, this rest...
27    [{'text': 'I came on a Sunday night around 8:3...
28    [{'text': 'With such limited space in San Fran...
29    [{'text': 'First time here and was excited to ...
30    [{'text': 'incredible spot where some imaginat...
31    [{'text': 'Arroz con Mariscos was delicious an...
32    [{'text': 'Reserved online for 2 and came here...
33    [{'text': 'Getting a next-day reservation at E...
34    [{'text': 'Is not fine dining, is not a steal ...
35    [{'text': 'Made dinner reservations for 8 and ...
36    [{'text': 'Located on a busy street with stree...
37    [{'text': 'Came back here a couple months late...
38    [{'text': 'I gotta give Santeria another 5 sta...
39    [{'text': 'This was my first omakase experienc...
40    [{'text': 'Wednesdays have an amazing combo de...
41    [{'text': 'This place is amazing
Love the vib...
42    [{'text': 'Food    - *****
Service - *****+
Am...
43    [{'text': 'Food was really delicious.  Loved t...
44    [{'text': 'Delicious food and excellent servic...
45    [{'text': 'OH. MY. GOD. Can I just say... best...
46    [{'text': 'Go! If you're wondering, do it!

Pa...
47    [{'text': 'Ambiance: they're always packed and...
48    [{'text': 'A quick good good culture club revi...
49    [{'text': 'Good service, good sushi, good ambi...
Name: reviews, dtype: object